<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>asdoashndo</h1>
    <div class="fullscreen d-flex flex-wrap align-items-center justify-content-center">
        <div>
            <h2 class="text-center display-2">404 | ERROR</h2>
           
        </div>
    
    </div>
    <form action="/add">
        <input type="number" name="num1" >
        <input type="number" name="num2" >

        <input type="submit" >
    </form>
</body>
</html>