{% extends 'base_header.html' %}
{% load static %}

{% block page_title %} Artista Get Started  {% endblock %}

{% block content %}

    Hello, {{ request.session.user }}

    <!-- <img src="{% static 'path.png' %}" alt="My image"> -->
    <p>
        <a href="{% url 'login_user' %}">Login</a>
    </p>

    <p>
        <a href="{% url 'register_client' %}">Client register</a>
    </p>
    <p>
        <a href="{% url 'register_artist' %}">Artist register</a>
    </p>
    <p>
        <a href="{% url 'logout_user' %}">Logout User</a>
    </p>
{% endblock %}