{% extends 'base_dashboard_header.html' %} {% load static %}

{% block meta %}
<!-- this file meta content -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block js_cdn %}

{% endblock %}


{% block content %}

<h3>Artists</h3>
<div class="container-fluid">
    <div class="row mx-auto">{% for artist in artists%}
        <div class="card mx-auto ms-2 mb-2" style="width: 18rem;">
            <img src={{artist.user_following.avatar.url}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{artist.user_following.display_name}}</h5>


                <form action="{% url 'artist_follow_form_submit'  artist.user_following.uuid %}" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="art" value='{{artist.user_following.uuid}}'>


                    <button type="submit" class="color1-btn ">Unfollow</button>

                </form>
            </div>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}


{% block add_js %}
<script>
</script>
{% endblock %}