{% extends 'base_dashboard_header.html' %} {% load static %}

{% block meta %}
<!-- this file meta content -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block js_cdn %}

{% endblock %}


{% block content %}
<style>
    .short-bio {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding-bottom: 0px;
        min-height: 9rem;
    }

    .display-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding-bottom: 0px;
        min-height: 5.6rem;
    }

    .profile-card img {
        height: 200px;
        width: 200px;
        padding: 1.5rem;
    }

    .profile-card {
        border: 1px solid #707070;
        padding: 2rem 3rem;
        border-radius: 2rem;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
</style>

<div class="container-fluid">
    <div class="row align-items-stretch justify-content-center">{% for artist in artists%}
        <div class="col-md-6 col-lg-4 text-center mb-4">
            <div class="profile-card ">
                <img src={{artist.user_following.avatar.url}} class="profile-img "
                    alt="{{artist.user_following.display_name}}">
                <h4 class="display-name">{{artist.user_following.display_name}}</h4>
                <p class="short-bio my-4">
                    {{ artist.user_following.short_bio }}
                </p>
                <!-- <h5 class="my-4">Category:</h5> -->
                <div class="d-flex w-100 flex-wrap justify-content-evenly">

                    <form action="{% url 'artist_follow_form_submit'  artist.user_following.uuid %}" method="POST">
                        {% csrf_token %}

                        <input type="hidden" name="art" value='{{artist.user_following.uuid}}'>


                        <button type="submit" class="color1-inv-btn my-4">Unfollow</button>

                    </form>
                    <a href="{% url 'app_artInfo:single_artist_info'  artist.user_following.uuid%}">
                        <button class="color1-btn my-4">View Profile</button>
                    </a>
                </div>

            </div>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}


{% block add_js %}
<script>
</script>
{% endblock %}