$colors:(color1:#5433FF,
    color2:#20BDFF);


    $sidebarWidth : 20vw; $radius:3rem;

@function color($color-name) {
    @return map-get($colors, $color-name);
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin bg($pos){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: $pos;
}
@mixin overlay($color){
    position:relative;
    &:before{
        position:absolute;
        content:"";
        height: 100%;
        width:100%;
        background-color:$color;
        top:0;
        left:0;

    }
}
@mixin desktop-mini{
    @media(min-width:768px){
        @content;
    }
}
@mixin desktop{
    @media(min-width:992px){
        @content;
    }
}
@mixin mobile{
    @media(max-width:767px){
        @content;
    }
}

/*Sidebar CSS*/
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -$sidebarWidth; 
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    @include mobile{
        margin-left: -$sidebarWidth*2;
    }
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.4rem;
  }
  
  #sidebar-wrapper .list-group {
    width: $sidebarWidth;
    @include mobile{
        width: $sidebarWidth*2;
    }
  }
  
  #page-content-wrapper {
   
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -$sidebarWidth*2;
    }
  }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

body {
 /*   display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Segoe UI','Montserrat', sans-serif;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;

}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

header,
section,
footer,
main {
    position: relative;
    display: block;

}
aside{
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
main{
    flex-grow: 1;
    @include desktop-mini{
        margin-left:$sidebarWidth;
    }
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #dddddd;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    opacity: 1;
    color: #dddddd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: #dddddd;
}
 
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.fullscreen{
  min-height: calc(100vh - 141px);
}
.form-logo{
  max-width: 18rem;
  padding:1.5rem
}

@mixin btn($color) {
    background: $color;
    color:white;
    display:inline-block;
    padding:0.75rem 3rem;
    border-radius:$radius;
    border:2px solid $color;
    transition: background 200ms ease-out, color 200ms linear;
    &:hover{
        background:transparent;
        color:$color;
    }
}
@mixin invBtn($color) {
    background: transparent;
    color:$color;
    display:inline-block;
    padding:0.75rem 3rem;
    border-radius:$radius;
    border:2px solid $color;
    transition: background 200ms ease-out, color 200ms linear;
    &:hover{
        background:$color;
        color:white;
    }
}


.color1-btn{
    @include btn(color(color1));
}
.color1-inv-btn{
    @include invBtn(color(color1));
}
.color2-btn{
    @include btn(color(color2));
}

.color1-overlay{
    @include overlay(color(color1))
}
.color2-overlay{
    @include overlay(color(color2))
}

$headersMap:(
    h1: 5rem,
    h2: 4.2rem,
    h3: 3.6rem,
    h4: 2.8rem,
    h5: 2.4rem,
    h6: 2rem,
    p: 1.8rem
    
);
@each $head,$font in $headersMap{
    #{$head}{
        font-size: $font;
    }
}
.color1{
    color:color(color1);
}
.color1-hover:hover{
    color:color(color1);
}
.color2{
    color:color(color2);
}
.color1-bg{
    background-color:color(color1);
}
.color2-bg{
    background-color:color(color2);
}
.bg-regular{
    @include bg(center);
}

.post-img{
    position:relative;
    border-radius: 3rem;
    overflow: hidden;
    transition: height 0.3s;

    a:hover{
        text-decoration: none;
    }
    img{
        width:100%;
        height:fit-content;
        object-fit:cover;
        object-position: center;
    }
    .user-profile{
        display: flex;
        align-items: center;
    }
    .user-profile img{
        width: 100px;
        height:100px;
        padding: 1rem;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
    }
    .post-info{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.7);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        transition: opacity 0.4s linear;
        opacity: 0;
    }
    .user-info{
        padding:1rem;
    }
    &:hover .post-info {
        opacity: 1;
    }
   
    @include mobile{
        .post-info{
            height: 60%;
            bottom: 0;
            top:auto;
            opacity: 1;
        }
       
    }
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.grid-sizer,
.grid-item {
  width: 100%;
  padding: 0.5rem;
  @include desktop-mini(){
      width: 50%;
      padding: 1rem;
  }
  @include desktop(){
    width: 33.33%;
  }
  @media(min-width:1299px){
      width: 25%;
  }
}
.fas:before{
    margin-right: 1.5rem;
}
.profile-img{
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}
.form-group input{
    border-radius:$radius;
    width:100%;
    padding: 0.75rem 3rem;
    border: 1px solid #707070;
}
.form-group{
    padding:0;
}
.font-700{
    font-weight: 700;
}
.img-small{
    height: 80px;
    width: 80px;
}
.btn-link{
    font-size: 1.6rem;
    padding: 0;
    transition: filter 0.5s ease;
    &:hover{
        text-decoration: none;
        filter:brightness(120%);
    }
}

nav{
    font-family: 'Segoe UI','Montserrat', sans-serif  !important;
    font-weight: 600;
}
.nav-link{
  
  @include desktop-mini{  line-height: 2;
    font-size: 2.8rem;
    font-family: 'Segoe UI','Montserrat', sans-serif ;
    font-weight: 600;
   padding-left: 0;
   padding-right: 3rem;
    color:#5433FF;
    position: relative;
    transition: all 0.3s ease;
    &:hover{
    color:#5433FF;
        
    }
    &:hover::after{
        width: 80%;
        }
    &::after{
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        width:3.5rem;
        height: 100%;
        border-bottom: 3px solid #5433FF;
        transition: all 0.3s ease;
    
    }
}
}


.navbar-brand img{
    max-width: 125px;
}

@media(max-width:767px){
    html{
        font-size: 50%;
    }
    .nav-bg{
   
        text-align: center;
    }
    .nav-item a{
        text-align: center;
        margin: auto;;
    }
    .navbar-brand img{
        max-width: 75px;
    }
    .nav-bg{
        box-shadow: 0 0.3rem 2rem 0 rgba(0,0,0,0.2);
    }
    .mbl-reverse{
        flex-direction: column-reverse;
    }
}