{% extends 'base_header.html' %} {% load static %} 
{% block page_title %}
Artist Password Recovery Page 
{% endblock %} 

{% block content %}
<!-- {{ 'http://'|add:request.get_host |add:'/forgot_password/'|add:'user.refresh_token' }} -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-4 p-5">
      <div class="text-center">
        <!-- <img src="{% static 'images/Artista-logo.png' %}" width="168"  height="150"> -->
      </div>
      <h5 class="text-center mb-5 text-uppercase font-weight-bold"> Password recovery </h5>

      {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endfor %}

      <form action="" method="POST">

        {% for field in form.visible_fields %}
        <div class="form-group">
           <label class="font-weight-bold" for="exampleInputEmail1">{{ field.label_tag }}</label>  
          {{ field }} 
          {% for error in field.errors %}
          <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
          {% endfor %}
        </div>
        {% endfor %}

        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="text-center"> 
            <button class="btn btn-primary cnr-rounded " style="width: 150px;" type="submit" >Submit</button>
        </div>
      </form>
      <div class="mt-3">
        {% if messages %}
        <!-- <ul class="messages"> -->
            {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
              {{ message }}
            </div>
            <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
            {% endfor %}
        <!-- </ul> -->
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% endblock %}
