{% extends 'base_dashboard_header.html' %} {% load static %} 


{% block page_title %}
Artist All Arts
{% endblock %} 


{% block js_cdn %}

{% endblock %} 


{% block content %}
<div class="container my-5 text-center">
    <a href="{% url 'artist:artist_art_upload' %}" class="btn btn-primary">UPLOAD NEW ART</a>
</div>
<div class="container my-5">
    <div class="row"> 
        {% if arts_info|length >= 1 %}
            {% for data in arts_info %}
            <div class="col-md-3 ">
                <div class="card mx-1" >
                    <img class="card-img-top" src="{{ data.image.url }}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{ data.title }}</h5>
                    <p class="card-text">{{ data.short_description }}</p>
                    <a href="{% url 'artist:artist_art_upload_edit'  data.uuid %}"  class="card-link" >Edit</a>
                    <a href="{% url 'artist:artist_art_uploaded_delete'  data.uuid %}" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}  
        {% else %}  
        <div class="container text-center">
            <h1 >OOPS ! NO ART FOUND </h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block add_js %}
  <script>
  </script>
{% endblock %}