
<div class="box">
    <style>
        .box{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content:center;
            min-height: 100vh;
            flex-wrap: wrap;
        }
        .color1{
            color:#5433FF;
        }
        .display-2{
            font-size:5.5rem;
        }
        .text-center{
            text-align: center;
        }
    </style>
    <div>
        <h2 class="text-center color1 display-2">404 | ERROR</h2>
       
    </div>

</div>