{% extends 'base_dashboard_header.html' %} {% load static %} {% block js_cdn %}
<script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5/tinymce.min.js"
  crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<style>
  .category-item {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .category-item:before {
    opacity: 0.5;
  }

  .category-item h4 {
    color: white;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 15px;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 ">
      <a href="{% url 'app_artInfo:all_art_searching_page'%}?category=1">
        <div class="category-item bg-regular color1-overlay" style="background-image:url({% static 'images/Architecture.jpg' %})">
          <h4>Architecture</h4>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 ">
      <a href="{% url 'app_artInfo:all_art_searching_page'%}?category=2">
        <div class="category-item bg-regular color1-overlay" style="background-image:url({% static 'images/Ceramics.jpg' %})">
          <h4>Ceramics</h4>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 ">
      <a href="{% url 'app_artInfo:all_art_searching_page'%}?category=3">
        <div class="category-item bg-regular color1-overlay" style="background-image:url({% static 'images/Conceptual.jpg' %})">
          <h4>conceptual Art</h4>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 ">
      <a href="{% url 'app_artInfo:all_art_searching_page'%}?category=4">
        <div class="category-item bg-regular color1-overlay" style="background-image:url({% static 'images/Drawing.jpg' %})">
          <h4>drawing</h4>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 ">
      <a href="{% url 'app_artInfo:all_art_searching_page'%}?category=5">
        <div class="category-item bg-regular color1-overlay" style="background-image:url({% static 'images/Painting.jpg' %})">
          <h4>painting</h4>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 ">
      <a href="{% url 'app_artInfo:all_art_searching_page'%}?category=6">
        <div class="category-item bg-regular color1-overlay" style="background-image:url({% static 'images/Photography.jpg' %})">
          <h4>photography</h4>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 ">
      <a href="{% url 'app_artInfo:all_art_searching_page'%}?category=7">
        <div class="category-item bg-regular color1-overlay" style="background-image:url({% static 'images/Sculpture.jpg' %})">
          <h4>Sculpture</h4>
        </div>
      </a>
    </div>
  </div>

</div>


{% endblock %} {% block add_js %}
<script>
  // tinymce.init({
  // selector: 'textarea#id_short_description',
  // });
</script>
{% endblock %}