{% extends 'base_dashboard_header.html' %} {% load static %}
{% block page_title %}
Artist Home
{% endblock %}


{% block content %}
<style>
    .cover-photo {
        height: 30vh;
        min-height: 300px;
    }

    .display-pic {
        height: 250px;
        width: 250px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        border: 0.7rem solid #20BDFF;
        padding: 1rem;
        border-radius: 100%;
    }

    .display-pic img {
        height: 100%;
        width: 100%;
    }

    .offset-propic {
        margin-top: 150px;

    }

    .btn-container {
        max-width: 500px;
        margin: 2rem auto;
        text-align: center;
    }

    .text-underline {
        text-decoration: underline;
    }

    .review-input {
        resize: none;
        min-height: 300px;
        border-radius: 0.75rem;
        border: 2px solid #5433FF;
        width: 100%;
        padding: 1.5rem;
        /* margin: 1.5rem; */
        max-width: 700px;
        margin: auto;

    }

    .form-group {
        padding: 2rem;
    }

    .contact-box {

        padding: 5rem;
    }

    .modal-content {
        border-radius: 1.5rem;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #reviewArtist .form-group {
        margin-top: 10rem;
        margin-bottom: 0;

    }

    .accordion-btn {
        max-width: 5rem;
        background: white;
        border: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .head-title {
        line-height: 2;
        font-size: 3.2rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5rem;

    }

    .head-title::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4rem;
        height: 100%;
        border-bottom: 3px solid #5433FF;

    }

    .review-box {
        border: 2px solid #5433FF;
        border-radius: 0.75rem;

    }

    .accordion-btn[aria-expanded="true"] svg {
        transform: rotate(180deg) !important;
    }
    body{
        padding-top:0px;
    }
    @media(max-width:767px) {
        .display-pic {
            height: 160px;
            width: 160px;
        }

        .offset-propic {
            margin-top: 100px;
            ;
        }
    }
</style>

<section class="bg-regular cover-photo" style="background-image: url(https://picsum.photos/seed/picsum/1280/720);">
    <div class="display-pic ">
        <img class="profile-img " src="{{  artist_info.avatar.url }}" alt=" {{ artist_info.display_name }}" />

    </div>
</section>

<div class="container offset-propic">


    <h4 class="text-uppercase text-center">
        {{ artist_info.display_name }}
    </h4>
    <p class="text-center"> Short Bio : {{ artist_info.short_bio }}</p>
    <div class="btn-container">
        <button type="button" class="color1-btn mr-5" data-toggle="modal" data-target="#contactArtist"> Contact
            Artist</button>

        <div class="modal fade bd-example-modal-lg" id="contactArtist" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="close-btn">
                        <button type="button" class="close p-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-underline"> Close</span>
                        </button>
                    </div>

                    <div class="contact-box">
                        <p class="color2">
                            email = {{ artist_info.email }}
                        </p>

                        <p class="color2">
                            address = {{ artist_info.address }}
                        </p>
                        <p class="color2">
                            phone number = {{ artist_info.phoneNumber }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}


        <!-- Large modal -->
        {% if artist_info != user_info %}
        <button type="button" class="color1-btn " data-toggle="modal" data-target="#reviewArtist"> Review
            Artist</button>

        <div class="modal fade bd-example-modal-lg" id="reviewArtist" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="close-btn">
                        <button type="button" class="close p-3" data-dismiss="modal" aria-label="Close">
                            <span class="text-underline" aria-hidden="true">Close</span>
                        </button>
                    </div>
                    <form action="{% url 'artist:artist_review' artist_info.uuid  %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">

                            <textarea name="message" class="review-input" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter message"></textarea>

                        </div>
                        <button type="submit" class="color1-btn my-5"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}


    </div>
    <!-- <div>
        email = {{ artist_info.email }}
    </div> 

    <div>
        uuid = {{ artist_info.uuid }}
    </div>
    <div>
        address = {{ artist_info.address }}
    </div>
    <div>
        phone number = {{ artist_info.phoneNumber }}
    </div>-->

</div>



<div class="container my-5">
    <h1>Artist Art Reviewer</h1>
    <p class="position-relative mb-5">
        <span class="head-title color1">Review</span>
        <button class="accordion-btn" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="true" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                focusable="false" width="100%" height="100%"
                style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path
                    d="M22 12a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2a10 10 0 0 1 10 10m-2 0a8 8 0 0 0-8-8a8 8 0 0 0-8 8a8 8 0 0 0 8 8a8 8 0 0 0 8-8M6 10l6 6l6-6l-1.4-1.4l-4.6 4.6l-4.6-4.6L6 10z"
                    fill="#5433FF" /></svg>
        </button>
    </p>
    <div class="collapse show" id="collapseExample">
        {% if artist_review|length >= 1 %}
        {% for data in artist_review %}
        <div class="row m-0 mb-5 py-5 review-box">
            <div class="col flex-grow-0">
                <img class="profile-img img-small" src="{{ data.user_reviewing.avatar.url }}" alt="test">
            </div>
            <div class="col">
                <h5 class="mb-3">{{ data.user_reviewing.display_name }}</h5>
                <p class="mb-3">{{ data.message }}</p>



            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container text-center">
            <h1>OOPS ! NO REVIEW FOUND </h1>
        </div>
        {% endif %}
    </div>

</div>

<div class="container my-5">
    <h4 class="position-relative mb-5"> <span class="head-title color1">Works</span></h4>
    <div class="grid">
        {% if arts_info|length >= 1 %}
        {% for data in arts_info %}
        <div class="grid-item ">

            <div class="post-img">

                <a href="{% url 'app_artInfo:artist_single_art_page'  data.uuid %}">
                    <img src="{{ data.image.url }}" alt="{{ data.title }}" />
                    <div class="post-info">
                        <div class="user-profile">
                            <img src="{{ data.user.avatar.url }}" />
                            <div class="user-info">
                                <h6>{{ data.user.display_name }}</h6>
                                <h5 class="card-title">{{ data.title }}</h5>
                                <p class="card-text">{{ data.short_description }}</p>
                            </div>
                        </div>
                        <h4>Category</h4>
                        <p class="fas fa-eye color1 mb-0">{{ data.view_count }}</p>
                    </div>
                </a>

            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container text-center">
            <h1>OOPS ! NO ART FOUND </h1>
        </div>
        {% endif %}
    </div>
    <!-- <div class="row">
        {% if arts_info|length >= 1 %}
        {% for data in arts_info %}
        <div class="col-md-3 ">
            <div class="card mx-1">
                <img class="card-img-top" src="{{ data.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ data.title }}</h5>
                    <p class="card-text">{{ data.short_description }}</p>
                     <a href="{% url 'artist:artist_art_upload_edit'  data.uuid %}"  class="card-link" >Edit</a> 
                     <a href="{% url 'artist:artist_art_uploaded_delete'  data.uuid %}" class="card-link">Delete</a> 
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container text-center">
            <h1>OOPS ! NO ART FOUND </h1>
        </div>
        {% endif %}
    </div> -->
</div>




{% endblock %}




{% block add_js %}
<!-- <script src="{% static 'js/public/app-react.js' %}"></script>
<script src="{% static 'js/public/app-vue.js' %}"></script> -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>

    // vanilla JS
    // init with element
    var grid = document.querySelector('.grid');
    var msnry = new Masonry(grid, {
        // options...
        itemSelector: '.grid-item',

        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true,
        gutter: 15
    });

    // init with selector
    var msnry = new Masonry('.grid', {
        // options...
    });
</script>
{% endblock %}